CompileFlags:
  Add: [
    -std=c23,
    -Wpedantic,
    -Wall,
    -Wextra,
    -Wno-empty-translation-unit,
    # -I/opt/homebrew/include,
    -I/opt/mpich/include
  ]

Completion:
  HeaderInsertion: Never

Diagnostics:
  UnusedIncludes: None
